<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ejs test</title>
</head>
<body>
	<% include 'templates/layout/_header' %>
	hoge
	<% include 'templates/layout/_footer' %>
</body>
</html>